body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #111111fa;
  color: rgb(71, 224, 255);
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  /* align-items: center; */
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-self: start;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: rgb(71, 224, 255);
  padding: 0.75rem;
  border: 1px solid rgb(71, 224, 255);
  border-radius: 1.5rem;
  transition: 0.3s;
  font-weight: 600;
  /* background-color: #000409ce; */
}

.nav a:hover,
.nav a.active {
  background-color: rgb(71, 224, 255);
  color: #111;
}

.container {
  background-color: #000409;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 1.5rem rgb(71, 224, 255);
}

.title {
  margin-bottom: 0.75rem;
  font-size: 2rem;
  letter-spacing: 2px;
}

.screen {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  background-color: #111;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: inset 0 0 0.75rem rgb(71, 224, 255);
  color: rgb(71, 224, 255);
  font-family: "Courier New", Courier, monospace;
}

.input {
  padding: 0.75rem;
  max-height: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(71, 224, 255);
  border-radius: 1rem;
  background-color: #373737c4;
  color: rgb(71, 224, 255);
  font-size: 1rem;
  width: 80%;
}

.buttons button {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(71, 224, 255);
  color: #000;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: rgb(0, 173, 204);
}
